<!DOCTYPE html>
<html>
    <head>
        <title>Hands On Exercise 005.01.02</title>
    </head>

    <body>
        <h3>Hands On Exercise 005.01.02</h3>

        {{ if . }}
            <p>{{ . }}</p>
        {{ end }}
    </body>
</html>